@import '../../themes/color.scss';
.table-container {
  padding-top: 16px;
  width: 100%;
}

.header {
  align-items: center;
  background: $clr-blue;
  background: linear-gradient(90deg, $clr-blue 50%, $clr-red 100%);
  display: flex;
  color: white;
  border-radius: 16px 16px 0 0;
  height: 40px;
  justify-content: space-between;
  padding: 0 1rem;
}

.table {
  width: 100%;
  max-width: 100%;
  background-color: white;
  border-radius: 0 0 16px 16px;
  border-spacing: 0;
  overflow: scroll;

  th,
  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid $clr-light-gray;
  }

  tbody,
  tr:last-child td {
    border-bottom: none;
  }
}
